@using dotNetMVCFutabaChan.Models

@{
    ViewData["Title"] = "About";
    ViewData["Version"] = "Version";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p bold>Futaba .Net is a typical futaba-channel type imageboard written in C# using .Net Framework Core 2.0 ASP.NET MVC 6.0</p>

<h3>@ViewData["Version"]</h3>

<website-information info="new WebsiteContext {
    Version = new Version(0, 1),
    CopyrightYear = 2017,
    Approved = false,
    TagsToShow = 3 }" />
