@model MessageModel

@{
    ViewData["Title"] = "Message";
    String threadGuid = ViewData["ThreadGuid"].ToString();
    String imageUrlDir = "images/threads";
}

<div class="row">

    <img class="center-block" src="~/images/futa300.png" alt="Futaba .NET"> 

</div>

<hr />

<div class="row">
    <a class="btn btn-default" role="button" href="@Url.Action("Index", "Board")">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        Return to thread list</a>
</div>

<div class="row">
    <h3>Post a message</h3>

    @if (ViewData["InfoMessage"] != null) {
    <div class='alert alert-info' role='alert'>
        @ViewData["InfoMessage"]
    </div>
    }
</div>

@using (Html.BeginForm("AddMessage", "Thread", FormMethod.Post, new { enctype = "multipart/form-data", @class="well form-horizontal form-background" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary();
    <input type="hidden" name="ThreadGuid" id="ThreadGuid" value="@ViewData["ThreadGuid"]" />
    <div class="form-group">
        @Html.LabelFor(m => m.msgContent, new {@class="col-sm-2 control-label"})
        <div class="col-sm-10">
            @Html.TextAreaFor(m => m.msgContent, new {@class="form-control", size = "30", placeholder="Message"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-md-10">
            <input id="imageFile" type="file" name="imageFile" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" value="Submit" class="btn btn-default">Post</button>
        </div>
    </div>
}

<div class="row">
    <h3>Messages</h3>
        @foreach (var msgs in ViewData["MessageList"] as List<MessageModel>) {
            <div class="thread">

            @if(@msgs.msgId == 0) {
                @Html.Raw("<div class=\"postContent\">")
            } else {
                @Html.Raw("<div class=\"postContent reply\">")
            }

                <div class="information">
                    <span class="title">No Title</span>
                    <span class="name">Anonymous</span>
                    <span class="date">@msgs.postDate</span>
                    <span class="id"><a href="">No.</a><a href="">@msgs.msgId</a></span>
                    <span class="actions">
                        <a class="btn btn-default btn-xs" href="">Reply</a>&nbsp;
                        <a class="btn btn-danger btn-xs" href="">Delete</a>
                    </span>
                </div>

                @if(msgs.imgFile != null) {

                        @if(@msgs.msgId == 0) {
                            <a href="@imageUrlDir/@threadGuid/@msgs.imgFile">
                                <div class="image"><img src="@imageUrlDir/@threadGuid/thumbnails/@msgs.imgFile" width="" height="256" /></div>
                            </a>
                        } else {
                            <a href="@imageUrlDir/@threadGuid/@msgs.imgFile">
                                <div class="image"><img src="@imageUrlDir/@threadGuid/thumbnails/@msgs.imgFile" width="" height="128" /></div>
                            </a>
                        }
                }
                
                <blockquote class="postMessage">
                        @msgs.msgContent
                </blockquote>

                @Html.Raw("</div>")
            </div>
    }
</div>

<hr />

<a href="@Url.Action("Index", "Board")" class="btn btn-default btn-xs">Return</a> 
<a href="@Url.Action("Catalog", "Board")" class="btn btn-default btn-xs">Catalog</a>
<a href="" class="btn btn-default btn-xs">Top</a>
<a href="" class="btn btn-default btn-xs">Update</a>
<a href="" class="btn btn-default btn-xs">Toggle Auto Update</a> 
