﻿@model PostModel

@{
    ViewData["Title"] = "Image";
}

<div class="row">

    <img class="center-block" src="~/images/futa300.png" alt="Futaba .NET"> 

</div>

<hr />

<div class="row">

<h3>Post a thread</h3>

    @if (ViewData["InfoMessage"] != null) {
    <div class='alert alert-info' role='alert'>
        @ViewData["InfoMessage"]
    </div>
    }

    @if (ViewData["SuccessMessage"] != null) {
    <div class='alert alert-success' role='alert'>
        @ViewData["SuccessMessage"]
    </div>
    }
    
    @if (ViewData["FailMessage"] != null) {
    <div class="alert alert-danger" role="alert">
        @ViewData["FailMessage"]
    </div>
    }

</div>

@using (Html.BeginForm("Index", "Board", FormMethod.Post, new { enctype = "multipart/form-data", @class="form-horizontal form-background" }))
{
  @Html.ValidationSummary();
  
  <input type="hidden" name="mode" value="regist">
  <input type="hidden" name="MAX_FILE_SIZE" value="">
  <input type="hidden" name="resto" value="">
  
  <div class="form-group">
    @Html.LabelFor(p => p.name, new {@class="col-sm-2 control-label"})
    <div class="col-sm-10">
      @Html.TextBoxFor(p => p.name, new {@class="form-control", size = "30", placeholder="Nickname"})
    </div>
  </div>
  <div class="form-group">
    @Html.LabelFor(p => p.email, new {@class="col-sm-2 control-label"})
    <div class="col-sm-10">
    @Html.TextBoxFor(p => p.email, new {@class="form-control", size = "30", placeholder="Email Address"})
    </div>
  </div>
  <div class="form-group">
    @Html.LabelFor(p => p.subtitle, new {@class="col-sm-2 control-label"})
    <div class="col-sm-10">
      @Html.TextBoxFor(p => p.subtitle, new {@class="form-control", size = "35", placeholder="Subtitle"})
    </div>
  </div>
  <div class="form-group">
    @Html.LabelFor(p => p.comment, new {@class="col-sm-2 control-label"})
    <div class="col-sm-10">
      @Html.TextAreaFor(p => p.comment, new {@class="form-control", cols = "48", rows = "4", wrap = "soft", placeholder="Comment"})
    </div>
  </div>
  <div class="form-group">    
    <label for="attachedfile" class="col-sm-2 control-label">Attached File</label>
     <div class="col-sm-10">
       <input id="attachedfile" type="file" size="35">
     </div> 
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
            @Html.CheckBoxFor(p => p.textOnly) Text Only Thread
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    @Html.LabelFor(p => p.password, new {@class="col-sm-2 control-label"})
     <div class="col-sm-6">
       @Html.TextBoxFor(p => p.password, new {@class="form-control", size = "8", maxlength = "8"})
       <p class="help-block">(Use less than 8 alphanumeric characters)</p>
     </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" value="Submit" class="btn btn-default">Post</button>
    </div>
  </div>
}

<div class="row">

<h3>Threads</h3>

<table>

  <tr>
    <th></th>
  </tr>

  <tr>
    <td></td>
  </tr>

</table>


</div>