@model MessageModel

@{
    ViewData["Title"] = "Message";
}

<div class="row">
    <a class="btn btn-default" role="button" href="/">Return to thread list</a>
</div>

<div class="row">
    <h3>Post a message</h3>

    @if (ViewData["InfoMessage"] != null) {
    <div class='alert alert-info' role='alert'>
        @ViewData["InfoMessage"]
    </div>
    }

    @if (ViewData["SuccessMessage"] != null) {
    <div class='alert alert-success' role='alert'>
        @ViewData["SuccessMessage"]
    </div>
    }
    
    @if (ViewData["FailMessage"] != null) {
    <div class="alert alert-danger" role="alert">
        @ViewData["FailMessage"]
    </div>
    }
</div>

@using (Html.BeginForm("Index", "Board", FormMethod.Post, new { enctype = "multipart/form-data", @class="form-horizontal form-background" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary();
    <div class="form-group">
        @Html.LabelFor(m => m.msgContent, new {@class="col-sm-2 control-label"})
        <div class="col-sm-10">
            @Html.TextAreaFor(m => m.msgContent, new {@class="form-control", size = "30", placeholder="Message"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-md-10">
            <input id="imageFile" type="file" name="image" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" value="Submit" class="btn btn-default">Post</button>
        </div>
    </div>
}

<div class="row">
    <h3>Messages</h3>
    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>Message</th>
            <th>Date</th>
        </tr>
        @foreach (var msgs in ViewData["MessageList"] as List<MessageModel>) {
            @if(msgs.msgContent.IndexOf(">") == 0) {
            <tr class="success">
                <td>@msgs.msgId</td>
                <td>@msgs.msgContent</td>
                <td>@msgs.postDate</td>
            </tr>
            } else {
            <tr>
                <td>@msgs.msgId</td>
                <td>@msgs.msgContent</td>
                <td>@msgs.postDate</td>
            </tr>
            }
        }
    </table>
</div>