body {
    padding: 5em;
}

blockquote {
    font-size: 15px !important;
}

input[type="file"] {
    color: #fff;
}

.navbar-brand {
    padding: 4px 15px !important;
}

.centerprint {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.form-background {
    // background: #eee;
    border-radius: 3px;
    padding: 8px 24px;
}

// .grid {
//     // max-width: 1200px;
// }

.grid-item {
    width: 200px;
    height: 256px;
    float: left;
    margin: 8px;
    // padding: 4px;
    word-break: break-all;
}

// .catalog-table {
//     // height: 128px;
// }

.catalog-row {
    max-height: 128px;
}

// .catalog-item {

//     a {
//         // overflow:hidden;
//         // text-overflow:ellipsis;
//         // word-break: break-all;
//         // word-wrap: break-word;
//     }
// }

.catalog-image {
    max-height: 128px;
    text-align: center;

    img {
        width: 128px;
        height: 128px;
    }
}

.thread {
    margin: 0px;
    clear: both;

    .information {

        margin: 6px;

        span {
            margin-right: 8px;
        }
    }

    .postContent {

        blockquote {
            border: none;
        }

        .image {
            float: left;
            margin: 8px 24px;
        }

        .opMessage {
            background-color: transparent;
        }

        &.op {
            display: inline;
        }

        &.reply {
            margin: 4px 0;
            overflow: hidden;
            border-radius: 3px;
            background-color: #3d3d3d;
            display: table;
            max-width: 50%;

            img {
                border: none;
            }
            
            .postInfo {
                display: block;
                width: 100%;
            }

            .postMessage {
                display: block;
            }
        }
    }
}


// .post {
//     min-width: 480px;
//     overflow: hidden;

//     margin-top: 4px;
//     margin-bottom: 4px;
//     background-color: #3d3d3d;
//     display: table;
//     border-radius: 3px;

//     &.op {
//         background-color: transparent;
//         display: inline;
//     }



//     .image {
        
//         image {
//             float: left;
//         }

//         margin-left: 20px;
//         margin-right: 20px;
//         margin-top: 3px;
//         margin-bottom: 5px;
//         float:left;
//     }

//     .message {
        
//         word-wrap: break-word;

//     }
// }