@color_1: #c5c8c6;
@color_2: #C41E3A;
@color_3: #00A550;
@color_4: #1d8dc4;
@color_5: #117743;
@color_6: #fff;
@color_7: gray;
@color_8: #81a2be;
@color_9: #5F89AC;
@color_10: #C5C8C6;
@color_11: #b294bb;
@color_12: #b5bd68;
@color_13: #34345C;
@color_14: #D00;
@color_15: #707070;
@color_16: red;
@color_17: #F00;
@color_18: #0000F0;
@color_19: #FF0080;
@color_20: #007FFF;
@color_21: #000;
@color_22: #999;
@color_23: #72814D;
@color_24: #BB6793;
@color_25: #8EA062;
@color_26: #6E9B89;
@color_27: #B294BB;
@color_28: inherit;
@color_29: #FFF;
@font_family_1: arial,helvetica,sans-serif;
@font_family_2: 'IPAMonaPGothic','Mona','MS PGothic',monospace;
@font_family_3: monospace;
@font_family_4: Tahoma,sans-serif;
@background_color_1: rgba(0,0,0,0.25);
@background_color_2: #282a2e;
@background_color_3: #e62020;
@background_color_4: transparent;
@background_color_5: #282A2E;
@background_color_6: #232428;
@background_color_7: #fff;
@background_color_8: rgba(255,255,255,.1);
@background_color_9: inherit;
@background_color_10: rgba(0,0,0,0.75);
@background_color_11: #000;
@background_color_12: #1D1F21;
@border_color_1: #3A171C;
@border_top_color_1: #1d1f21;

@-webkit-keyframes blink {
	50% {
		opacity: 0;
	}
}
@-moz-keyframes blink {
	50% {
		opacity: 0;
	}
}
@-o-keyframes blink {
	50% {
		opacity: 0;
	}
}
@keyframes blink {
	50% {
		opacity: 0;
	}
}
html {
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	background: #1d1f21 none;
	color: @color_1;
	font-family: @font_family_1;
	font-size: 10pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
.adg-rects {
	margin: 10px 0;
	text-align: center;
	>span {
		display: inline-block;
		width: 300px;
		height: 250px;
	}
	>span.desktop {
		margin: auto;
		width: 728px;
		height: 90px;
	}
}
.party-hat {
	left: 0;
	margin-top: -80px;
	position: absolute;
	pointer-events: none;
}
.sjis {
	font-size: 16px;
	line-height: 17px;
	white-space: pre;
	font-family: @font_family_2;
	overflow: auto;
	display: block;
	clear: left;
}
#quickReply {
	.sjis {
		font-size: 16px;
		line-height: 17px;
		white-space: pre;
		font-family: @font_family_2;
		overflow: auto;
		display: block;
		clear: left;
	}
}
.tex-logo {
	font-size: 0.8em;
	sub {
		font-size: 0.8em;
		text-transform: uppercase;
	}
}
.mu-s {
	font-weight: bold;
}
.mu-i {
	font-style: italic;
}
.mu-r {
	color: @color_2;
}
.mu-g {
	color: @color_3;
}
.mu-b {
	color: @color_4;
}
.pu-lbl {
	color: @color_5;
	font-weight: bold;
	font-size: 12px;
}
.pu-img {
	vertical-align: middle;
	margin-top: -3px;
	margin-right: 3px;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('//s.4cdn.org/image/minileaf.gif');
}
.n-pu {
	vertical-align: middle;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-top: -2px;
	background: url('//s.4cdn.org/image/minileaf.gif');
}
.jla-it {
	height: 420px;
	width: 680px;
}
.jla-it-p {
	font-size: 0.85em;
	text-align: center;
}
.centeredThreads {
	.party-hat {
		left: 12%;
	}
}
#disclaimer {
	font-size: 14px;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9998;
	ol {
		margin-left: 20px;
		padding: 0;
	}
	li {
		margin: 10px 0;
	}
	h3 {
		border-bottom: 1px solid #111;
		margin: 0;
		padding-bottom: 5px;
		text-align: center;
	}
}
#disclaimer-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: @background_color_1;
}
#disclaimer-modal {
	z-index: 9999;
	width: 320px;
	top: 0;
	left: 50%;
	margin-left: -170px;
	display: block;
	padding: 10px;
	position: relative;
	background-color: @background_color_2;
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
	div {
		margin-top: 10px;
		text-align: center;
	}
	button {
		margin: 0 10px;
	}
}
#disclaimer-accept {
	font-weight: bold;
}
#footer-links {
	margin-top: 5px;
}
.isMobileDevice {
	blockquote.postMessage {
		font-size: 11pt;
	}
}
.belowLeaderboard {
	width: 728px;
	max-width: 100%;
}
.aboveMidAd {
	width: 468px;
	max-width: 100%;
}
#postFormError {
	background-color: @background_color_3;
	color: @color_6;
	font-family: @font_family_3;
	font-size: 13px;
	font-weight: bold;
	padding: 3px 5px;
	text-shadow: 0 1px rgba(0,0,0,0.2);
	display: none;
	margin-top: 3px;
	a {
		color: @color_6;
	}
}
.painter-ctrl {
	input {
		width: 30px !important;
		text-align: center;
	}
}
#qr-painter-ctrl {
	input {
		width: 30px !important;
		text-align: center;
	}
}
#oe-canvas-preview {
	position: absolute;
	margin-left: 5px;
	margin-top: 3px;
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.25);
}
#captchaContainerAlt {
	height: 80px;
	.recaptcha_image_cell {
		padding: 0 0 5px 0 !important;
	}
	#recaptcha_table {
		border: 0 !important;
	}
	#recaptcha_response_field {
		width: 300px !important;
		padding: 0 !important;
	}
	#recaptcha_image {
		border: 0 !important;
	}
	td {
		&:nth-child(2) {
			display: none !important;
		}
		&:nth-child(3) {
			display: none !important;
		}
	}
}
#qrCaptchaContainerAlt {
	#recaptcha_response_field {
		width: 296px !important;
	}
	#recaptcha_image {
		border: 0 !important;
	}
	.recaptcha_image_cell {
		padding: 0 !important;
	}
	#recaptcha_table {
		border: 0 !important;
	}
	td {
		&:nth-child(2) {
			display: none !important;
		}
		&:nth-child(3) {
			display: none !important;
		}
	}
	height: 80px;
	width: 300px;
}
.recaptchatable {
	background-color: @background_color_4 !important;
	border: none !important;
}
.recaptcha_image_cell {
	background-color: @background_color_4 !important;
}
#g-recaptcha {
	height: 78px;
}
#recaptcha_div {
	height: 107px;
	width: 442px;
}
#recaptcha_challenge_field {
	width: 400px;
}
.recaptcha_input_area {
	padding: 0 !important;
}
#recaptcha_table {
	tr {
		&:first-child {
			height: auto !important;
			>td {
				&:not(:first-child) {
					padding: 0 7px 0 7px !important;
				}
			}
		}
		&:last-child {
			td {
				&:last-child {
					padding-bottom: 0 !important;
				}
				&:first-child {
					padding-left: 0 !important;
				}
			}
		}
		>td {
			&:last-child {
				display: none !important;
			}
		}
	}
}
#recaptcha_image {
	cursor: pointer;
	border: 1px solid #aaa !important;
}
#recaptcha_response_field {
	width: 292px;
	margin-right: 0px !important;
	font-size: 10pt !important;
	padding: 0px;
	margin: 0px;
	margin-right: 2px;
	padding: 2px 4px 3px 4px;
	border: 1px solid #AAA;
	outline: none;
	font-family: @font_family_1;
	font-size: 10pt;
	&:not(:focus) {
		border: 1px solid #AAA !important;
	}
}
input {
	&:-moz-placeholder {
		color: @color_7 !important;
	}
	&:not([type]) {
		&:focus {
			border: 1px solid #000 !important;
		}
	}
}
#captchaContainer {
	width: 343px;
	height: 86px;
	line-height: 99px;
	overflow: hidden;
	overflow: hidden;
	.placeholder {
		font-style: italic;
		padding-left: 5px;
	}
	>img {
		float: left;
		border: 1px solid #aaa;
		margin-bottom: 1px;
		float: left;
		border: 1px solid #aaa;
		margin-bottom: 1px;
	}
}
.mobile {
	display: none !important;
	display: none;
}
.mobileinline {
	display: none !important;
}
.mobileib {
	display: none !important;
}
a {
	color: @color_8 !important;
	text-decoration: none;
	&:visited {
		color: @color_8 !important;
		text-decoration: none;
	}
	&:hover {
		color: @color_9 !important;
	}
}
a.replylink {
	&:not(:hover) {
		color: @color_8 !important;
	}
}
div#absbot {
	a {
		&:not(:hover) {
			color: @color_8 !important;
		}
	}
	color: @color_1;
	clear: both;
	text-align: center;
	font-size: x-small !important;
	padding-bottom: 4px;
	padding-top: 10px;
	color: @color_1;
}
div.board {
	>hr {
		clear: both;
	}
}
img {
	border: none;
}
img.topad {
	width: 728px;
	height: 90px;
	max-width: 100%;
	overflow: hidden;
	margin: auto;
}
.topad {
	>div {
		width: 728px;
		height: 90px;
		max-width: 100%;
		overflow: hidden;
		margin: auto;
	}
	a {
		img {
			width: 728px;
			height: 90px;
			max-width: 100%;
			overflow: hidden;
			margin: auto;
		}
	}
}
img.middlead {
	width: 468px;
	height: 60px;
	max-width: 100%;
	overflow: hidden;
	margin: auto;
}
.middlead {
	>div {
		width: 468px;
		height: 60px;
		max-width: 100%;
		overflow: hidden;
		margin: auto;
	}
	a {
		img {
			width: 468px;
			height: 60px;
			max-width: 100%;
			overflow: hidden;
			margin: auto;
		}
	}
}
img.bottomad {
	width: 728px;
	height: 90px;
	max-width: 100%;
	overflow: hidden;
	margin: auto;
}
.bottomad {
	>div {
		width: 728px;
		height: 90px;
		max-width: 100%;
		overflow: hidden;
		margin: auto;
	}
	a {
		img {
			width: 728px;
			height: 90px;
			max-width: 100%;
			overflow: hidden;
			margin: auto;
		}
	}
}
hr {
	border: none;
	border-top: 1px solid #282a2e;
	height: 0;
}
hr.abovePostForm {
	width: 90%;
}
span.x-small {
	font-size: x-small;
}
ul.rules {
	margin: 0px;
	padding: 0px;
	margin-top: 5px;
	>li {
		list-style: none;
		font-size: 11px;
	}
}
.rules {
	>li {
		&:before {
			content: "\2022 \20";
		}
	}
}
div.boardBanner {
	text-align: center;
	clear: both;
	>div.boardTitle {
		font-family: @font_family_4;
		font-size: 28px;
		font-weight: bold;
		letter-spacing: -2px;
		margin-top: 0px;
	}
	>div.boardSubtitle {
		font-size: x-small;
	}
}
#bannerCnt {
	border: 1px solid #000;
	margin: 5px auto;
	width: 300px;
	height: 100px;
	max-width: 100%;
}
div#boardNavDesktop {
	font-size: 9pt;
	color: @color_1;
	display: block;
	a {
		font-weight: normal;
		padding: 1px;
		text-decoration: none;
		color: @color_8;
	}
}
.hasDropDownNav {
	#navtopright {
		display: none;
	}
}
#boardNavDesktop {
	.pageJump {
		padding: 0;
		a {
			padding-right: 5px;
		}
	}
}
div.opContainer {
	display: inline;
}
div.sideArrows {
	color: @color_1;
	float: left;
	margin-right: 2px;
	margin-top: 0px;
	margin-left: 2px;
}
div.thread {
	margin: 0px;
	clear: both;
	>div {
		&:nth-of-type(2) {
			>div.reply {
				margin-top: 2px !important;
			}
		}
	}
	&:last-child {
		padding-bottom: 21px;
		margin-bottom: 6px;
	}
}
div.post {
	margin: 4px 0;
	overflow: hidden;
	div.postInfo {
		display: block;
		width: 100%;
		span.postNum {
			>a {
				text-decoration: none;
				color: @color_10 !important;
			}
			a {
				&:hover {
					color: @color_9 !important;
				}
			}
		}
		span.nameBlock {
			display: inline-block;
			span.name {
				color: @color_1;
				font-weight: bold;
			}
			span.postertrip {
				color: @color_1;
				font-weight: normal !important;
			}
		}
		span.subject {
			color: @color_11;
			font-weight: bold;
		}
	}
	blockquote.postMessage {
		display: block;
	}
	div.file {
		display: block;
		div.fileInfo {
			margin-right: 10px;
			word-break: break-all;
		}
		.fileThumb {
			float: left;
			margin-left: 20px;
			margin-right: 20px;
			margin-top: 3px;
			margin-bottom: 5px;
			img {
				border: none;
				float: left;
			}
		}
	}
}
div.op {
	display: inline;
}
div.reply {
	background-color: @background_color_2;
	border: 1px solid #282a2e;
	display: table;
	padding: 2px;
	input {
		float: none;
	}
	span.fileThumb {
		float: none !important;
		margin-top: 0px !important;
		margin-bottom: 0px !important;
		img {
			float: none !important;
			margin-top: 0px !important;
			margin-bottom: 0px !important;
		}
	}
}
.posteruid {
	.hand {
		&:hover {
			color: @color_9 !important;
		}
	}
}
blockquote {
	>span.quote {
		color: @color_12;
	}
}
.quoteLink {
	color: @color_9 !important;
	text-decoration: underline;
}
.quotelink {
	color: @color_9 !important;
	text-decoration: underline;
}
.deadlink {
	color: @color_9 !important;
	text-decoration: underline;
	text-decoration: line-through;
}
a.quoteLink {
	&:hover {
		color: @color_8 !important;
	}
}
a.quotelink {
	&:hover {
		color: @color_8 !important;
	}
}
.is_arclist {
	.belowLeaderboard {
		display: none;
	}
}
#arc-list {
	max-width: 80%;
	margin: 10px auto 0 auto;
	td {
		text-align: center;
	}
	.teaser-col {
		text-align: left;
		word-break: break-all;
	}
	.quotelink {
		color: @color_13 !important;
		&:hover {
			color: @color_14 !important;
		}
	}
}
#arc-sort {
	border-bottom: 1px dotted;
	cursor: pointer;
}
div.replyContainer {
	div.post {
		div.file {
			div.fileInfo {
				margin-left: 20px;
			}
		}
	}
}
span.fileThumb {
	margin-left: 0px !important;
	margin-right: 5px !important;
}
span.summary {
	color: @color_15;
	margin-top: 10px;
}
div.postingMode {
	background-color: @background_color_2;
	padding: 1px;
	text-align: center;
	color: @color_1;
	font-weight: bold;
	font-size: larger;
	margin-top: 8px;
	border: 1px solid #111;
}
#verification {
	table {
		border: none !important;
		margin: 0px;
	}
}
div.pagelist {
	font-size: 13px !important;
	margin: 0;
	padding: 3px 7px;
	float: left;
	border: none;
	background: #282a2e;
	border: 1px solid #111;
	list-style: none;
	overflow: hidden;
	color: @color_1;
	>div {
		float: left;
		span {
			padding: 4px;
			display: inline-block;
		}
	}
	div.pages {
		padding: 4px;
		a {
			text-decoration: none !important;
		}
	}
	form {
		display: inline;
	}
	div.cataloglink {
		border-left: 1px solid #111;
		padding-left: 12px;
		margin-left: 7px;
	}
}
.bottomCtrl {
	float: right;
	margin-top: 2px;
}
input[type=password] {
	width: 50px;
	text-align: center;
	&:focus {
		border: 1px solid #000 !important;
	}
}
div.deleteform {
	input[type=checkbox] {
		margin: 1px 2px 1px 2px;
	}
}
.stylechanger {
	margin-left: 5px;
	font-size: 10pt;
}
div#boardNavDesktopFoot {
	font-size: 9pt;
	color: @color_1;
	clear: both;
	padding-top: 10px;
	padding-bottom: 3px;
	a {
		font-weight: normal;
		padding: 1px;
		text-decoration: none;
		color: @color_8;
	}
}
div.homelink {
	float: right;
}
table {
	border-spacing: 1px;
	margin-left: auto;
	margin-right: auto;
}
table.postForm {
	>tbody {
		>tr {
			>td {
				&:first-child {
					background-color: @background_color_2;
					color: @color_1;
					font-weight: bold;
					border: 1px solid #111;
					padding: 0 5px;
					font-size: 10pt;
				}
				>input[type=text] {
					width: 244px;
				}
				>input[name="subject"] {
					width: 300px;
				}
			}
		}
		textarea {
			margin: 0px;
			margin-right: 2px;
			padding: 2px 4px 3px 4px;
			border: 1px solid #AAA;
			outline: none;
			font-family: @font_family_1;
			font-size: 10pt;
		}
	}
}
tr.rules {
	td {
		border: 0px !important;
		background-color: @background_color_4 !important;
		font-weight: normal !important;
	}
}
td {
	margin: 0px;
	padding: 0px;
	font-size: 10pt;
}
input[type=text] {
	margin: 0px;
	margin-right: 2px;
	padding: 2px 4px 3px 4px;
	border: 1px solid #AAA;
	outline: none;
	font-family: @font_family_1;
	font-size: 10pt;
	&:focus {
		border: 1px solid #000 !important;
	}
}
input[type="password"] {
	margin: 0px;
	margin-right: 2px;
	padding: 2px 4px 3px 4px;
	border: 1px solid #AAA;
	outline: none;
	font-family: @font_family_1;
	font-size: 10pt;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}
textarea {
	&:focus {
		border: 1px solid #000 !important;
	}
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
.postblock {
	background-color: @background_color_5;
	color: @color_1;
	font-weight: bold;
	padding: 0 5px;
	font-size: 10pt;
}
div.closed {
	font-size: x-large;
	text-align: center;
	color: @color_16;
	font-weight: bold;
	padding-top: 100px;
	padding-bottom: 100px;
}
.arc-ads {
	width: 300px;
	margin: 30px auto -60px auto;
	&::after {
		display: block;
		content: '';
		clear: both;
	}
}
.commentpostername {
	font-weight: bold;
}
.identityIcon {
	margin-bottom: -3px;
	height: 16px;
	width: 16px;
}
.stickyIcon {
	margin-bottom: -1px;
	padding-left: 2px;
	height: 16px;
	width: 16px;
}
.archivedIcon {
	margin-bottom: -1px;
	margin-left: -1px;
	height: 16px;
	width: 16px;
}
.closedIcon {
	margin-bottom: -1px;
	margin-left: -1px;
	height: 16px;
	width: 16px;
}
.trashIcon {
	width: 16px;
	height: 16px;
	margin-bottom: -2px;
}
.fileDeleted {
	height: 13px;
	width: 172px;
}
.fileDeletedRes {
	height: 13px;
	width: 127px;
}
.navSmall {
	font-size: 90%;
}
.center {
	text-align: center;
}
.bold {
	font-weight: bold;
}
.smaller {
	font-size: smaller;
}
.password {
	font-size: smaller;
}
.passNotice {
	font-size: smaller;
	padding-left: 6px;
}
.qcDiv {
	display: none;
}
.qcImg {
	height: 1px;
	width: 1px;
	border: 0px;
}
.jpnFlag {
	height: 11px;
	width: 17px;
}
.globalMessage {
	color: @color_1;
	text-align: center;
}
.highlightPost {
	&:not(.op) {
		background: #3A171C !important;
		border-color: @border_color_1 !important;
	}
}
.hand {
	cursor: pointer;
}
.reply {
	&:target {
		background: #1D1D21 !important;
		border: 1px solid #111 !important;
		padding: 2px;
	}
}
.reply.highlight {
	background: #1D1D21 !important;
	border: 1px solid #111 !important;
	padding: 2px;
}
span.capcodeAdmin {
	span.name {
		color: @color_17 !important;
		a {
			color: @color_17 !important;
		}
	}
	span.postertrip {
		color: @color_17 !important;
	}
	strong.capcode {
		color: @color_17 !important;
	}
}
span.capcodeFounder {
	span.name {
		color: @color_5 !important;
		a {
			color: @color_5 !important;
		}
	}
	span.postertrip {
		color: @color_5 !important;
	}
	strong.capcode {
		color: @color_5 !important;
	}
}
span.capcodeMod {
	span.name {
		color: @color_8 !important;
		a {
			color: @color_8 !important;
		}
	}
	span.postertrip {
		color: @color_8 !important;
	}
	strong.capcode {
		color: @color_8 !important;
	}
}
span.capcodeDeveloper {
	span.name {
		color: @color_18 !important;
		a {
			color: @color_18 !important;
		}
	}
	span.postertrip {
		color: @color_18 !important;
	}
	strong.capcode {
		color: @color_18 !important;
	}
}
span.capcodeManager {
	span.name {
		color: @color_19 !important;
		a {
			color: @color_19 !important;
		}
	}
	span.postertrip {
		color: @color_19 !important;
	}
	strong.capcode {
		color: @color_19 !important;
	}
}
span.capcodeVerified {
	span.name {
		color: @color_20 !important;
		a {
			color: @color_20 !important;
		}
	}
	span.postertrip {
		color: @color_20 !important;
	}
	strong.capcode {
		color: @color_20 !important;
	}
}
#reportTypes {
	a {
		text-decoration: underline;
	}
}
.useremail {
	text-decoration: underline;
	&:not(:hover) {
		.name {
			color: @color_8 !important;
		}
		.postertrip {
			color: @color_8 !important;
		}
	}
	.name {
		&:hover {
			color: @color_9 !important;
		}
	}
	.postertrip {
		&:hover {
			color: @color_9 !important;
		}
	}
}
.omittedposts {
	color: @color_15;
}
.abbr {
	color: @color_15;
}
span.spoiler {
	color: @color_21 !important;
	background: #000 !important;
	&:hover {
		color: @color_6 !important;
	}
	&:focus {
		color: @color_6 !important;
	}
}
s {
	color: @color_21 !important;
	background: #000 !important;
	text-decoration: none;
	a {
		&:not(:hover) {
			color: @color_21 !important;
			background: #000 !important;
			text-decoration: none;
		}
	}
	&:hover {
		color: @color_6 !important;
		a {
			color: @color_6 !important;
			text-decoration: underline;
		}
	}
	&:focus {
		color: @color_6 !important;
	}
}
table.exif {
	display: none;
	min-width: 450px;
	td {
		color: @color_22;
		min-width: 150px;
		font-size: 8pt;
		b {
			text-decoration: underline;
		}
	}
}
div.posthover {
	max-width: 400px;
	margin-left: 20px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	a.fileThumb {
		margin-left: 5px !important;
		margin-right: 10px !important;
	}
	blockquote {
		margin: 5px;
	}
	img[data-md5] {
		max-width: 80px;
		max-height: 80px;
		height: auto !important;
		width: auto !important;
	}
	div.fileThumb {
		margin-left: 0px !important;
		margin-right: 10px !important;
	}
}
#navtopright {
	float: right;
}
#navbotright {
	float: right;
}
.preview {
	background: #282a2e;
	border: 1px solid #333 !important;
}
.qrWindow {
	table.postForm {
		>tbody {
			>tr {
				>td {
					&:first-child {
						background-color: @background_color_6;
					}
				}
			}
		}
	}
}
#settingsBox {
	position: absolute;
	right: 10px;
	margin-top: 10px;
}
div.backlink {
	font-size: x-small !important;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-right: 10px;
}
.backlink {
	span {
		padding-right: 5px;
	}
}
.backlinkHr {
	hr {
		border-top-color: @border_top_color_1;
	}
}
.persistentNav {
	padding: 2px 4px;
	background-color: @background_color_2;
	overflow: hidden;
	border-bottom: 2px solid #111;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	font-size: 12px;
	z-index: 9001;
}
div#boardNavMobile {
	padding: 2px 4px;
	background-color: @background_color_2;
	overflow: hidden;
	border-bottom: 2px solid #111;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	font-size: 12px;
	z-index: 9001;
	select {
		font-size: 11px;
	}
	option {
		font-size: 11px;
	}
}
div.boardSelect {
	float: left;
	>strong {
		padding-right: 5px;
	}
}
div.pageJump {
	float: right;
	padding-right: 5px;
	padding-top: 3px;
}
.pageJump {
	a {
		text-decoration: none;
		padding-right: 5px;
	}
}
div.qrWindow {
	position: absolute;
	z-index: 8000;
}
div.qrHeader {
	padding: 2px;
	font-size: small;
	text-align: center;
}
div.qrForm {
	padding: 3px;
}
span.qrButtonHolder {
	position: absolute;
	right: 5px;
	text-align: right;
	top: 3px;
	a {
		text-decoration: none;
	}
	img {
		cursor: pointer;
		margin-bottom: -1px;
		margin-top: 1px;
	}
}
.extButton {
	img {
		margin-top: 3px;
		margin-bottom: -3px;
		margin-left: 4px;
	}
}
.qrMessage {
	padding: 2px;
	text-align: center;
}
.op {
	.backlinkHr {
		width: 55%;
	}
}
img.expandedImg {
	max-width: none !important;
	max-height: none !important;
}
#captchaInfo {
	float: left;
	margin-left: 5px;
	visibility: hidden;
	float: left;
	margin-left: 5px;
	visibility: hidden;
}
#captchaResponse {
	width: 292px;
	width: 292px;
}
.prettyprint {
	border: none !important;
	background-color: @background_color_7;
	padding: 5px !important;
	display: inline-block;
	max-height: 400px;
	overflow-x: auto;
	max-width: 600px;
	margin: 0;
	background-color: @background_color_8;
	border: 1px solid rgba(0,0,0,0.5);
}
span.tag {
	color: @color_9;
}
span.pun {
	color: @color_23;
}
span.com {
	color: @color_24;
}
span.str {
	color: @color_25;
}
span.kwd {
	color: @color_8;
}
span.typ {
	color: @color_11;
}
span.lit {
	color: @color_26;
}
span.pln {
	color: @color_1;
}
.embed {
	position: absolute;
	width: 0px;
	height: 0px;
	overflow: hidden;
}
table.flashListing {
	td.postblock {
		padding: 5px;
		text-align: center;
	}
	td {
		padding: 2px;
		font-size: 9pt;
		&:not(.subject) {
			text-align: center;
		}
	}
	.name {
		color: @color_10;
		font-weight: bold;
	}
	.postertrip {
		color: @color_10;
	}
	.subject {
		color: @color_27;
		font-weight: bold;
		max-width: 250px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		word-wrap: break-word;
	}
	tr {
		&:nth-of-type(odd) {
			background-color: @background_color_8;
		}
	}
}
input[type="text"] {
	-webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.countryFlag {
	padding-top: 1px;
	margin-bottom: -1px;
}
.oldpost {
	color: @color_1;
	font-weight: bold;
}
#enable-mobile {
	font-size: small !important;
}
#disable-mobile {
	font-size: small !important;
}
.mFileInfo {
	padding-top: 5px;
	text-align: center;
	color: @color_15 !important;
	font-size: 9pt !important;
	text-decoration: none !important;
}
.name-col {
	max-width: 250px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: break-word;
}
.file-col {
	max-width: 250px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: break-word;
}
.ad-plea {
	margin-top: 2px;
	text-align: center;
	font-size: smaller;
	a {
		text-decoration: none;
	}
}
.fileText {
	a {
		text-decoration: underline;
	}
}
#search-box {
	height: 16px;
	line-height: 16px;
	margin-left: 2px;
	padding: 0 2px;
	width: 120px;
}
#blotter {
	width: 468px;
	margin: auto;
	td {
		vertical-align: top;
		font-size: 11px;
	}
	tfoot {
		text-align: right;
	}
}
.blotter-date {
	width: 50px;
	text-align: center;
}
.redtxt {
	color: @color_16;
}
#blotter-msgs {
	s {
		background-color: @background_color_9 !important;
		color: @color_28 !important;
		text-decoration: line-through;
	}
}
#postForm {
	textarea {
		width: 292px;
	}
	width: 468px;
	display: none;
}
#togglePostFormLink {
	font-size: 22px;
	font-weight: bold;
	text-align: center;
}
.fileWebm {
	&:hover {
		&:before {
			background-color: @background_color_10;
			color: @color_29;
			font-weight: bold;
			line-height: 18px;
			padding: 0 3px 0 2px;
			position: absolute;
			content: 'webm';
			display: block;
			font-size: 11px;
			text-decoration: none;
		}
	}
}
.expandedWebm {
	margin: 3px 20px 5px;
}
#tooltip {
	position: absolute;
	background-color: @background_color_11;
	font-size: 11px;
	line-height: 13px;
	padding: 3px 6px;
	z-index: 100000;
	word-wrap: break-word;
	white-space: pre-line;
	max-width: 400px;
	color: @color_6;
	text-align: center;
}
.tip-top-left {
	&:before {
		content: "";
		display: block;
		width: 0;
		height: 0;
		position: absolute;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-top: 4px solid #181f24;
		margin-left: -4px;
		bottom: -4px;
		right: 2px;
	}
}
.tip-top-right {
	&:before {
		content: "";
		display: block;
		width: 0;
		height: 0;
		position: absolute;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-top: 4px solid #181f24;
		margin-left: -4px;
		bottom: -4px;
		left: 2px;
		margin-left: 0;
	}
}
.tip-top {
	&:before {
		content: "";
		display: block;
		width: 0;
		height: 0;
		position: absolute;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-top: 4px solid #181f24;
		margin-left: -4px;
		bottom: -4px;
		left: 50%;
	}
}
#postFile {
	margin-right: 10px;
	width: 200px;
}
.dd-menu {
	position: absolute;
	font-size: 12px;
	line-height: 1.3em;
	a {
		text-decoration: none;
		color: @color_28 !important;
		display: block;
	}
	ul {
		background-color: @background_color_5;
		border: 1px solid #000;
		border-bottom: none;
		list-style: none;
		padding: 0;
		margin: 0;
		white-space: nowrap;
		ul {
			display: none;
			position: absolute;
		}
	}
	li {
		cursor: pointer;
		position: relative;
		padding: 2px 4px;
		vertical-align: middle;
		border-bottom: 1px solid #000;
		&:hover {
			background-color: @background_color_12;
			ul {
				display: block;
				left: 100%;
				margin-top: -3px;
			}
		}
	}
}
.dd-menu.dd-menu-left {
	li {
		&:hover {
			ul {
				left: auto;
				right: 100%;
			}
		}
	}
}
.blink {
	-webkit-animation: blink 1.5s step-end infinite;
	-moz-animation: blink 1.5s step-end infinite;
	-o-animation: blink 1.5s step-end infinite;
	animation: blink 1.5s step-end infinite;
}
@media only screen and (max-width: 700px) {
	.jla-it {
		width: 340px;
		height: 220px;
		margin: auto;
		img {
			width: 340px;
			height: 200px;
		}
	}
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	tbody {
		textarea {
			margin-bottom: -3px !important;
			width: 292px;
		}
	}
}
