@color_1: #dcdccc;
@color_2: #f0dfaf;
@color_3: #3f3f3f;
@color_4: #dca3a3;
@color_5: #ffffff;
@color_6: #400000;
@color_7: #800000;
@color_8: #60b48a;
@color_9: #8cd9d3;
@color_10: #dfaf8f;
@color_11: #806060;
@color_12: #708090;
@color_13: #222;
@color_14: blue;
@color_15: #cf9ebe;
@font_family_1: arial,helvetica,sans-serif;
@font_family_2: sans-serif;
@font_family_3: serif;
@font_family_4: Verdana,Tahoma,sans-serif;
@background_color_1: #333;
@background_color_2: #3f3f3f;
@background_color_3: #222;
@background_color_4: #6f6f6f;
@border_color_1: #dca3a3;
@border_color_2: #dfaf8f;

* {
	font-family: @font_family_1 !important;
}
html {
	background: #3f3f3f !important;
	color: @color_1 !important;
}
body {
	background: #3f3f3f !important;
	color: @color_1 !important;
	* {
		font-size: 10pt !important;
	}
}
a {
	text-decoration: none !important;
	color: @color_2 !important;
	&:hover {
		text-decoration: underline !important;
	}
}
.reflink {
	a {
		&:hover {
			color: @color_3 !important;
			font-weight: normal !important;
		}
	}
}
.adminbar {
	text-align: right;
	clear: both;
	float: right;
}
.logo {
	clear: both;
	font-weight: bold !important;
	text-align: center;
	font-size: 2em !important;
	color: @color_4 !important;
	width: 100%;
}
.replymode {
	background: #705050 !important;
	text-align: center;
	padding: 2px;
	color: @color_1 !important;
	width: 100%;
}
.catalogmode {
	background: #705050 !important;
	text-align: center;
	padding: 2px;
	color: @color_1 !important;
	width: 100%;
}
.rules {
	width: 468px;
	font-size: 10px;
	font-family: @font_family_2;
	li {
		margin-left: 1em;
	}
}
.postblock {
	background: #333 !important;
	color: @color_1 !important;
	font-weight: 800;
}
.footer {
	text-align: center;
	font-size: 12px;
	font-family: @font_family_3;
}
.passvalid {
	background: #3f3f3f !important;
	text-align: center;
	width: 100%;
	color: @color_5;
}
.dellist {
	font-weight: bold;
	text-align: center;
}
.delbuttons {
	text-align: center;
	padding-bottom: 4px;
}
.managehead {
	background: #AAAA66;
	color: @color_6;
	padding: 0px;
}
.postlists {
	background: #FFFFFF;
	width: 100%;
	padding: 0px;
	color: @color_7;
}
.row1 {
	background: #EEEECC;
	color: @color_7;
}
.row2 {
	background: #DDDDAA;
	color: @color_7;
}
.unkfunc {
	background: inherit;
	color: @color_8 !important;
}
.filesize {
	text-decoration: none !important;
}
.filetitle {
	background: inherit;
	font-size: 1.2em;
	color: @color_9 !important;
	font-weight: 800;
}
.postername {
	color: @color_10 !important;
	font-weight: bold;
}
.postertrip {
	color: @color_11 !important;
}
.oldpost {
	color: @color_4 !important;
	font-weight: 800;
}
.omittedposts {
	color: @color_12 !important;
}
.reply {
	background: #333 !important;
	color: @color_1 !important;
}
.replyhl {
	background: #333 !important;
	color: @color_1 !important;
}
.doubledash {
	vertical-align: top;
	clear: both;
	float: left;
}
.replytitle {
	font-size: 1.2em;
	color: @color_9 !important;
	font-weight: 800;
}
.commentpostername {
	color: @color_10 !important;
	font-weight: 800;
}
.thumbnailmsg {
	font-size: small;
	color: @color_12 !important;
}
.pages {
	background: #3f3f3f !important;
	color: @color_1 !important;
}
.abbrev {
	color: @color_12 !important;
}
.abbr {
	color: @color_12 !important;
}
.highlight {
	background: #222 !important;
	color: @color_1 !important;
	border: 1px dashed #806060 !important;
}
#watchedthreads {
	background-color: @background_color_1 !important;
	border: 1px dashed #806060 !important;
}
.reflinkpreview {
	background-color: @background_color_2 !important;
	border: 1px dashed #806060 !important;
}
.spoiler {
	color: @color_13 !important;
	background-color: @background_color_3 !important;
	&:hover {
		color: @color_1 !important;
	}
}
input[type="submit"] {
	background-color: @background_color_4 !important;
	color: @color_13 !important;
	border: 1px outset !important;
	border-color: @border_color_1 !important;
}
select {
	background-color: @background_color_4 !important;
	color: @color_13 !important;
	border: 1px outset !important;
	border-color: @border_color_1 !important;
}
input[type="checkbox"] {
	background-color: @background_color_4 !important;
	color: @color_13 !important;
	border: 1px outset !important;
	border-color: @border_color_1 !important;
}
textarea {
	color: @color_13 !important;
	background-color: @background_color_4 !important;
	border: 1px inset !important;
	border-color: @border_color_1 !important;
}
input[type="password"] {
	color: @color_13 !important;
	background-color: @background_color_4 !important;
	border: 1px inset !important;
	border-color: @border_color_1 !important;
}
input[type="text"] {
	color: @color_13 !important;
	background-color: @background_color_4 !important;
	border: 1px inset !important;
	border-color: @border_color_1 !important;
}
input[type="file"] {
	color: @color_13 !important;
	background-color: @background_color_4 !important;
	border: 1px inset !important;
	border-color: @border_color_1 !important;
}
td {
	border: 0px !important;
}
h2 {
	margin-top: 0px;
	font-size: 100%;
	color: @color_10 !important;
	background: #333 !important;
	padding: 1px 5px 1px 5px !important;
	a {
		text-decoration: none;
	}
}
h1 {
	font-family: @font_family_4;
	margin: 0;
	text-align: center;
	color: @color_4 !important;
	background: #333 !important;
	margin-top: 1em;
	font-size: 16pt !important;
}
h3 {
	font-family: @font_family_4;
	margin: 0px;
	color: @color_2 !important;
	text-align: center;
	font-weight: normal;
	font-size: medium;
}
.menu {
	font-family: @font_family_4;
	margin-top: 1em;
	text-align: center;
}
.plus {
	color: @color_10 !important;
	background: #333 !important;
	border-color: @border_color_2 !important;
	padding: 0px 2px 0px 2px !important;
	float: right;
	font-size: 8px;
	font-weight: normal;
	padding: 0px 4px 0px 4px !important;
	margin: 0px 0px;
	background: #333 !important;
	color: @color_10 !important;
	border: 1px solid #dfaf8f !important;
	cursor: pointer;
	&:hover {
		background: #da8;
		border: 1px solid #c97;
	}
}
#topmenu {
	li {
		display: block;
		float: left;
		border: 1px solid #888 !important;
		padding-top: 3px;
		padding-bottom: 2px;
		padding-left: 10px;
		padding-right: 10px;
		border-left: none;
		margin-top: -7px;
		background-color: @background_color_1 !important;
	}
	li.first {
		margin-left: 45px;
		border-left: 1px solid #888;
	}
	li.current {
		margin-top: -8px;
		padding-top: 5px;
		border-bottom: none !important;
		background-color: @background_color_1 !important;
	}
}
ul {
	list-style: none;
	padding-left: 0px;
	margin: 0px;
}
li {
	margin: 0px;
	a {
		display: block;
		width: 100%;
	}
}
.content {
	margin-left: 3em;
	text-align: justify;
	padding-left: 4px;
}
.newssub {
	position: absolute;
}
.permalink {
	text-align: right;
	display: block;
	a {
		color: @color_14;
		text-decoration: none;
	}
}
.admin {
	color: @color_15 !important;
}
