body {
  padding: 5em;
}
blockquote {
  font-size: 15px !important;
}
input[type="file"] {
  color: #fff;
}
.navbar-brand {
  padding: 4px 15px !important;
}
.centerprint {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}
.form-background {
  border-radius: 3px;
  padding: 8px 24px;
}
.grid-item {
  width: 200px;
  height: 256px;
  float: left;
  margin: 8px;
  word-break: break-all;
}
.catalog-row {
  max-height: 128px;
}
.catalog-image {
  max-height: 128px;
  text-align: center;
}
.catalog-image img {
  width: 128px;
  height: 128px;
}
.thread {
  margin: 0px;
  clear: both;
}
.thread .information {
  margin: 6px;
}
.thread .information span {
  margin-right: 8px;
}
.thread .postContent blockquote {
  border: none;
}
.thread .postContent .image {
  float: left;
  margin: 8px 24px;
}
.thread .postContent .opMessage {
  background-color: transparent;
}
.thread .postContent.op {
  display: inline;
}
.thread .postContent.reply {
  margin: 4px 0;
  overflow: hidden;
  border-radius: 3px;
  background-color: #3d3d3d;
  display: table;
  max-width: 50%;
}
.thread .postContent.reply img {
  border: none;
}
.thread .postContent.reply .postInfo {
  display: block;
  width: 100%;
}
.thread .postContent.reply .postMessage {
  display: block;
}
