@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
}
@-moz-keyframes blink {
  50% {
    opacity: 0;
  }
}
@-o-keyframes blink {
  50% {
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
html {
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  background: #1d1f21 none;
  color: #c5c8c6;
  font-family: arial, helvetica, sans-serif;
  font-size: 10pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.adg-rects {
  margin: 10px 0;
  text-align: center;
}
.adg-rects > span {
  display: inline-block;
  width: 300px;
  height: 250px;
}
.adg-rects > span.desktop {
  margin: auto;
  width: 728px;
  height: 90px;
}
.party-hat {
  left: 0;
  margin-top: -80px;
  position: absolute;
  pointer-events: none;
}
.sjis {
  font-size: 16px;
  line-height: 17px;
  white-space: pre;
  font-family: 'IPAMonaPGothic', 'Mona', 'MS PGothic', monospace;
  overflow: auto;
  display: block;
  clear: left;
}
#quickReply .sjis {
  font-size: 16px;
  line-height: 17px;
  white-space: pre;
  font-family: 'IPAMonaPGothic', 'Mona', 'MS PGothic', monospace;
  overflow: auto;
  display: block;
  clear: left;
}
.tex-logo {
  font-size: 0.8em;
}
.tex-logo sub {
  font-size: 0.8em;
  text-transform: uppercase;
}
.mu-s {
  font-weight: bold;
}
.mu-i {
  font-style: italic;
}
.mu-r {
  color: #C41E3A;
}
.mu-g {
  color: #00A550;
}
.mu-b {
  color: #1d8dc4;
}
.pu-lbl {
  color: #117743;
  font-weight: bold;
  font-size: 12px;
}
.pu-img {
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 3px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('//s.4cdn.org/image/minileaf.gif');
}
.n-pu {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: -2px;
  background: url('//s.4cdn.org/image/minileaf.gif');
}
.jla-it {
  height: 420px;
  width: 680px;
}
.jla-it-p {
  font-size: 0.85em;
  text-align: center;
}
.centeredThreads .party-hat {
  left: 12%;
}
#disclaimer {
  font-size: 14px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
}
#disclaimer ol {
  margin-left: 20px;
  padding: 0;
}
#disclaimer li {
  margin: 10px 0;
}
#disclaimer h3 {
  border-bottom: 1px solid #111;
  margin: 0;
  padding-bottom: 5px;
  text-align: center;
}
#disclaimer-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
#disclaimer-modal {
  z-index: 9999;
  width: 320px;
  top: 0;
  left: 50%;
  margin-left: -170px;
  display: block;
  padding: 10px;
  position: relative;
  background-color: #282a2e;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
#disclaimer-modal div {
  margin-top: 10px;
  text-align: center;
}
#disclaimer-modal button {
  margin: 0 10px;
}
#disclaimer-accept {
  font-weight: bold;
}
#footer-links {
  margin-top: 5px;
}
.isMobileDevice blockquote.postMessage {
  font-size: 11pt;
}
.belowLeaderboard {
  width: 728px;
  max-width: 100%;
}
.aboveMidAd {
  width: 468px;
  max-width: 100%;
}
#postFormError {
  background-color: #e62020;
  color: #fff;
  font-family: monospace;
  font-size: 13px;
  font-weight: bold;
  padding: 3px 5px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  display: none;
  margin-top: 3px;
}
#postFormError a {
  color: #fff;
}
.painter-ctrl input {
  width: 30px !important;
  text-align: center;
}
#qr-painter-ctrl input {
  width: 30px !important;
  text-align: center;
}
#oe-canvas-preview {
  position: absolute;
  margin-left: 5px;
  margin-top: 3px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25);
}
#captchaContainerAlt {
  height: 80px;
}
#captchaContainerAlt .recaptcha_image_cell {
  padding: 0 0 5px 0 !important;
}
#captchaContainerAlt #recaptcha_table {
  border: 0 !important;
}
#captchaContainerAlt #recaptcha_response_field {
  width: 300px !important;
  padding: 0 !important;
}
#captchaContainerAlt #recaptcha_image {
  border: 0 !important;
}
#captchaContainerAlt td:nth-child(2) {
  display: none !important;
}
#captchaContainerAlt td:nth-child(3) {
  display: none !important;
}
#qrCaptchaContainerAlt {
  height: 80px;
  width: 300px;
}
#qrCaptchaContainerAlt #recaptcha_response_field {
  width: 296px !important;
}
#qrCaptchaContainerAlt #recaptcha_image {
  border: 0 !important;
}
#qrCaptchaContainerAlt .recaptcha_image_cell {
  padding: 0 !important;
}
#qrCaptchaContainerAlt #recaptcha_table {
  border: 0 !important;
}
#qrCaptchaContainerAlt td:nth-child(2) {
  display: none !important;
}
#qrCaptchaContainerAlt td:nth-child(3) {
  display: none !important;
}
.recaptchatable {
  background-color: transparent !important;
  border: none !important;
}
.recaptcha_image_cell {
  background-color: transparent !important;
}
#g-recaptcha {
  height: 78px;
}
#recaptcha_div {
  height: 107px;
  width: 442px;
}
#recaptcha_challenge_field {
  width: 400px;
}
.recaptcha_input_area {
  padding: 0 !important;
}
#recaptcha_table tr:first-child {
  height: auto !important;
}
#recaptcha_table tr:first-child > td:not(:first-child) {
  padding: 0 7px 0 7px !important;
}
#recaptcha_table tr:last-child td:last-child {
  padding-bottom: 0 !important;
}
#recaptcha_table tr:last-child td:first-child {
  padding-left: 0 !important;
}
#recaptcha_table tr > td:last-child {
  display: none !important;
}
#recaptcha_image {
  cursor: pointer;
  border: 1px solid #aaa !important;
}
#recaptcha_response_field {
  width: 292px;
  margin-right: 0px !important;
  font-size: 10pt !important;
  padding: 0px;
  margin: 0px;
  margin-right: 2px;
  padding: 2px 4px 3px 4px;
  border: 1px solid #AAA;
  outline: none;
  font-family: arial, helvetica, sans-serif;
  font-size: 10pt;
}
#recaptcha_response_field:not(:focus) {
  border: 1px solid #AAA !important;
}
input:-moz-placeholder {
  color: gray !important;
}
input:not([type]):focus {
  border: 1px solid #000 !important;
}
#captchaContainer {
  width: 343px;
  height: 86px;
  line-height: 99px;
  overflow: hidden;
}
#captchaContainer .placeholder {
  font-style: italic;
  padding-left: 5px;
}
#captchaContainer > img {
  float: left;
  border: 1px solid #aaa;
  margin-bottom: 1px;
}
.mobile {
  display: none !important;
  display: none;
}
.mobileinline {
  display: none !important;
}
.mobileib {
  display: none !important;
}
a {
  color: #81a2be !important;
  text-decoration: none;
}
a:visited {
  color: #81a2be !important;
  text-decoration: none;
}
a:hover {
  color: #5F89AC !important;
}
a.replylink:not(:hover) {
  color: #81a2be !important;
}
div#absbot {
  clear: both;
  text-align: center;
  font-size: x-small !important;
  padding-bottom: 4px;
  padding-top: 10px;
  color: #c5c8c6;
}
div#absbot a:not(:hover) {
  color: #81a2be !important;
}
div.board > hr {
  clear: both;
}
img {
  border: none;
}
img.topad {
  width: 728px;
  height: 90px;
  max-width: 100%;
  overflow: hidden;
  margin: auto;
}
.topad > div {
  width: 728px;
  height: 90px;
  max-width: 100%;
  overflow: hidden;
  margin: auto;
}
.topad a img {
  width: 728px;
  height: 90px;
  max-width: 100%;
  overflow: hidden;
  margin: auto;
}
img.middlead {
  width: 468px;
  height: 60px;
  max-width: 100%;
  overflow: hidden;
  margin: auto;
}
.middlead > div {
  width: 468px;
  height: 60px;
  max-width: 100%;
  overflow: hidden;
  margin: auto;
}
.middlead a img {
  width: 468px;
  height: 60px;
  max-width: 100%;
  overflow: hidden;
  margin: auto;
}
img.bottomad {
  width: 728px;
  height: 90px;
  max-width: 100%;
  overflow: hidden;
  margin: auto;
}
.bottomad > div {
  width: 728px;
  height: 90px;
  max-width: 100%;
  overflow: hidden;
  margin: auto;
}
.bottomad a img {
  width: 728px;
  height: 90px;
  max-width: 100%;
  overflow: hidden;
  margin: auto;
}
hr {
  border: none;
  border-top: 1px solid #282a2e;
  height: 0;
}
hr.abovePostForm {
  width: 90%;
}
span.x-small {
  font-size: x-small;
}
ul.rules {
  margin: 0px;
  padding: 0px;
  margin-top: 5px;
}
ul.rules > li {
  list-style: none;
  font-size: 11px;
}
.rules > li:before {
  content: "\2022 \20";
}
div.boardBanner {
  text-align: center;
  clear: both;
}
div.boardBanner > div.boardTitle {
  font-family: Tahoma, sans-serif;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -2px;
  margin-top: 0px;
}
div.boardBanner > div.boardSubtitle {
  font-size: x-small;
}
#bannerCnt {
  border: 1px solid #000;
  margin: 5px auto;
  width: 300px;
  height: 100px;
  max-width: 100%;
}
div#boardNavDesktop {
  font-size: 9pt;
  color: #c5c8c6;
  display: block;
}
div#boardNavDesktop a {
  font-weight: normal;
  padding: 1px;
  text-decoration: none;
  color: #81a2be;
}
.hasDropDownNav #navtopright {
  display: none;
}
#boardNavDesktop .pageJump {
  padding: 0;
}
#boardNavDesktop .pageJump a {
  padding-right: 5px;
}
div.opContainer {
  display: inline;
}
div.sideArrows {
  color: #c5c8c6;
  float: left;
  margin-right: 2px;
  margin-top: 0px;
  margin-left: 2px;
}
div.thread {
  margin: 0px;
  clear: both;
}
div.thread > div:nth-of-type(2) > div.reply {
  margin-top: 2px !important;
}
div.thread:last-child {
  padding-bottom: 21px;
  margin-bottom: 6px;
}
div.post {
  margin: 4px 0;
  overflow: hidden;
}
div.post div.postInfo {
  display: block;
  width: 100%;
}
div.post div.postInfo span.postNum > a {
  text-decoration: none;
  color: #C5C8C6 !important;
}
div.post div.postInfo span.postNum a:hover {
  color: #5F89AC !important;
}
div.post div.postInfo span.nameBlock {
  display: inline-block;
}
div.post div.postInfo span.nameBlock span.name {
  color: #c5c8c6;
  font-weight: bold;
}
div.post div.postInfo span.nameBlock span.postertrip {
  color: #c5c8c6;
  font-weight: normal !important;
}
div.post div.postInfo span.subject {
  color: #b294bb;
  font-weight: bold;
}
div.post blockquote.postMessage {
  display: block;
}
div.post div.file {
  display: block;
}
div.post div.file div.fileInfo {
  margin-right: 10px;
  word-break: break-all;
}
div.post div.file .fileThumb {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 3px;
  margin-bottom: 5px;
}
div.post div.file .fileThumb img {
  border: none;
  float: left;
}
div.op {
  display: inline;
}
div.reply {
  background-color: #282a2e;
  border: 1px solid #282a2e;
  display: table;
  padding: 2px;
}
div.reply input {
  float: none;
}
div.reply span.fileThumb {
  float: none !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
div.reply span.fileThumb img {
  float: none !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.posteruid .hand:hover {
  color: #5F89AC !important;
}
blockquote > span.quote {
  color: #b5bd68;
}
.quoteLink {
  color: #5F89AC !important;
  text-decoration: underline;
}
.quotelink {
  color: #5F89AC !important;
  text-decoration: underline;
}
.deadlink {
  color: #5F89AC !important;
  text-decoration: underline;
  text-decoration: line-through;
}
a.quoteLink:hover {
  color: #81a2be !important;
}
a.quotelink:hover {
  color: #81a2be !important;
}
.is_arclist .belowLeaderboard {
  display: none;
}
#arc-list {
  max-width: 80%;
  margin: 10px auto 0 auto;
}
#arc-list td {
  text-align: center;
}
#arc-list .teaser-col {
  text-align: left;
  word-break: break-all;
}
#arc-list .quotelink {
  color: #34345C !important;
}
#arc-list .quotelink:hover {
  color: #D00 !important;
}
#arc-sort {
  border-bottom: 1px dotted;
  cursor: pointer;
}
div.replyContainer div.post div.file div.fileInfo {
  margin-left: 20px;
}
span.fileThumb {
  margin-left: 0px !important;
  margin-right: 5px !important;
}
span.summary {
  color: #707070;
  margin-top: 10px;
}
div.postingMode {
  background-color: #282a2e;
  padding: 1px;
  text-align: center;
  color: #c5c8c6;
  font-weight: bold;
  font-size: larger;
  margin-top: 8px;
  border: 1px solid #111;
}
#verification table {
  border: none !important;
  margin: 0px;
}
div.pagelist {
  font-size: 13px !important;
  margin: 0;
  padding: 3px 7px;
  float: left;
  border: none;
  background: #282a2e;
  border: 1px solid #111;
  list-style: none;
  overflow: hidden;
  color: #c5c8c6;
}
div.pagelist > div {
  float: left;
}
div.pagelist > div span {
  padding: 4px;
  display: inline-block;
}
div.pagelist div.pages {
  padding: 4px;
}
div.pagelist div.pages a {
  text-decoration: none !important;
}
div.pagelist form {
  display: inline;
}
div.pagelist div.cataloglink {
  border-left: 1px solid #111;
  padding-left: 12px;
  margin-left: 7px;
}
.bottomCtrl {
  float: right;
  margin-top: 2px;
}
input[type=password] {
  width: 50px;
  text-align: center;
}
input[type=password]:focus {
  border: 1px solid #000 !important;
}
div.deleteform input[type=checkbox] {
  margin: 1px 2px 1px 2px;
}
.stylechanger {
  margin-left: 5px;
  font-size: 10pt;
}
div#boardNavDesktopFoot {
  font-size: 9pt;
  color: #c5c8c6;
  clear: both;
  padding-top: 10px;
  padding-bottom: 3px;
}
div#boardNavDesktopFoot a {
  font-weight: normal;
  padding: 1px;
  text-decoration: none;
  color: #81a2be;
}
div.homelink {
  float: right;
}
table {
  border-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
}
table.postForm > tbody > tr > td:first-child {
  background-color: #282a2e;
  color: #c5c8c6;
  font-weight: bold;
  border: 1px solid #111;
  padding: 0 5px;
  font-size: 10pt;
}
table.postForm > tbody > tr > td > input[type=text] {
  width: 244px;
}
table.postForm > tbody > tr > td > input[name="subject"] {
  width: 300px;
}
table.postForm > tbody textarea {
  margin: 0px;
  margin-right: 2px;
  padding: 2px 4px 3px 4px;
  border: 1px solid #AAA;
  outline: none;
  font-family: arial, helvetica, sans-serif;
  font-size: 10pt;
}
tr.rules td {
  border: 0px !important;
  background-color: transparent !important;
  font-weight: normal !important;
}
td {
  margin: 0px;
  padding: 0px;
  font-size: 10pt;
}
input[type=text] {
  margin: 0px;
  margin-right: 2px;
  padding: 2px 4px 3px 4px;
  border: 1px solid #AAA;
  outline: none;
  font-family: arial, helvetica, sans-serif;
  font-size: 10pt;
}
input[type=text]:focus {
  border: 1px solid #000 !important;
}
input[type="password"] {
  margin: 0px;
  margin-right: 2px;
  padding: 2px 4px 3px 4px;
  border: 1px solid #AAA;
  outline: none;
  font-family: arial, helvetica, sans-serif;
  font-size: 10pt;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
textarea:focus {
  border: 1px solid #000 !important;
}
.postblock {
  background-color: #282A2E;
  color: #c5c8c6;
  font-weight: bold;
  padding: 0 5px;
  font-size: 10pt;
}
div.closed {
  font-size: x-large;
  text-align: center;
  color: red;
  font-weight: bold;
  padding-top: 100px;
  padding-bottom: 100px;
}
.arc-ads {
  width: 300px;
  margin: 30px auto -60px auto;
}
.arc-ads::after {
  display: block;
  content: '';
  clear: both;
}
.commentpostername {
  font-weight: bold;
}
.identityIcon {
  margin-bottom: -3px;
  height: 16px;
  width: 16px;
}
.stickyIcon {
  margin-bottom: -1px;
  padding-left: 2px;
  height: 16px;
  width: 16px;
}
.archivedIcon {
  margin-bottom: -1px;
  margin-left: -1px;
  height: 16px;
  width: 16px;
}
.closedIcon {
  margin-bottom: -1px;
  margin-left: -1px;
  height: 16px;
  width: 16px;
}
.trashIcon {
  width: 16px;
  height: 16px;
  margin-bottom: -2px;
}
.fileDeleted {
  height: 13px;
  width: 172px;
}
.fileDeletedRes {
  height: 13px;
  width: 127px;
}
.navSmall {
  font-size: 90%;
}
.center {
  text-align: center;
}
.bold {
  font-weight: bold;
}
.smaller {
  font-size: smaller;
}
.password {
  font-size: smaller;
}
.passNotice {
  font-size: smaller;
  padding-left: 6px;
}
.qcDiv {
  display: none;
}
.qcImg {
  height: 1px;
  width: 1px;
  border: 0px;
}
.jpnFlag {
  height: 11px;
  width: 17px;
}
.globalMessage {
  color: #c5c8c6;
  text-align: center;
}
.highlightPost:not(.op) {
  background: #3A171C !important;
  border-color: #3A171C !important;
}
.hand {
  cursor: pointer;
}
.reply:target {
  background: #1D1D21 !important;
  border: 1px solid #111 !important;
  padding: 2px;
}
.reply.highlight {
  background: #1D1D21 !important;
  border: 1px solid #111 !important;
  padding: 2px;
}
span.capcodeAdmin span.name {
  color: #F00 !important;
}
span.capcodeAdmin span.name a {
  color: #F00 !important;
}
span.capcodeAdmin span.postertrip {
  color: #F00 !important;
}
span.capcodeAdmin strong.capcode {
  color: #F00 !important;
}
span.capcodeFounder span.name {
  color: #117743 !important;
}
span.capcodeFounder span.name a {
  color: #117743 !important;
}
span.capcodeFounder span.postertrip {
  color: #117743 !important;
}
span.capcodeFounder strong.capcode {
  color: #117743 !important;
}
span.capcodeMod span.name {
  color: #81a2be !important;
}
span.capcodeMod span.name a {
  color: #81a2be !important;
}
span.capcodeMod span.postertrip {
  color: #81a2be !important;
}
span.capcodeMod strong.capcode {
  color: #81a2be !important;
}
span.capcodeDeveloper span.name {
  color: #0000F0 !important;
}
span.capcodeDeveloper span.name a {
  color: #0000F0 !important;
}
span.capcodeDeveloper span.postertrip {
  color: #0000F0 !important;
}
span.capcodeDeveloper strong.capcode {
  color: #0000F0 !important;
}
span.capcodeManager span.name {
  color: #FF0080 !important;
}
span.capcodeManager span.name a {
  color: #FF0080 !important;
}
span.capcodeManager span.postertrip {
  color: #FF0080 !important;
}
span.capcodeManager strong.capcode {
  color: #FF0080 !important;
}
span.capcodeVerified span.name {
  color: #007FFF !important;
}
span.capcodeVerified span.name a {
  color: #007FFF !important;
}
span.capcodeVerified span.postertrip {
  color: #007FFF !important;
}
span.capcodeVerified strong.capcode {
  color: #007FFF !important;
}
#reportTypes a {
  text-decoration: underline;
}
.useremail {
  text-decoration: underline;
}
.useremail:not(:hover) .name {
  color: #81a2be !important;
}
.useremail:not(:hover) .postertrip {
  color: #81a2be !important;
}
.useremail .name:hover {
  color: #5F89AC !important;
}
.useremail .postertrip:hover {
  color: #5F89AC !important;
}
.omittedposts {
  color: #707070;
}
.abbr {
  color: #707070;
}
span.spoiler {
  color: #000 !important;
  background: #000 !important;
}
span.spoiler:hover {
  color: #fff !important;
}
span.spoiler:focus {
  color: #fff !important;
}
s {
  color: #000 !important;
  background: #000 !important;
  text-decoration: none;
}
s a:not(:hover) {
  color: #000 !important;
  background: #000 !important;
  text-decoration: none;
}
s:hover {
  color: #fff !important;
}
s:hover a {
  color: #fff !important;
  text-decoration: underline;
}
s:focus {
  color: #fff !important;
}
table.exif {
  display: none;
  min-width: 450px;
}
table.exif td {
  color: #999;
  min-width: 150px;
  font-size: 8pt;
}
table.exif td b {
  text-decoration: underline;
}
div.posthover {
  max-width: 400px;
  margin-left: 20px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
div.posthover a.fileThumb {
  margin-left: 5px !important;
  margin-right: 10px !important;
}
div.posthover blockquote {
  margin: 5px;
}
div.posthover img[data-md5] {
  max-width: 80px;
  max-height: 80px;
  height: auto !important;
  width: auto !important;
}
div.posthover div.fileThumb {
  margin-left: 0px !important;
  margin-right: 10px !important;
}
#navtopright {
  float: right;
}
#navbotright {
  float: right;
}
.preview {
  background: #282a2e;
  border: 1px solid #333 !important;
}
.qrWindow table.postForm > tbody > tr > td:first-child {
  background-color: #232428;
}
#settingsBox {
  position: absolute;
  right: 10px;
  margin-top: 10px;
}
div.backlink {
  font-size: x-small !important;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
}
.backlink span {
  padding-right: 5px;
}
.backlinkHr hr {
  border-top-color: #1d1f21;
}
.persistentNav {
  padding: 2px 4px;
  background-color: #282a2e;
  overflow: hidden;
  border-bottom: 2px solid #111;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  font-size: 12px;
  z-index: 9001;
}
div#boardNavMobile {
  padding: 2px 4px;
  background-color: #282a2e;
  overflow: hidden;
  border-bottom: 2px solid #111;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  font-size: 12px;
  z-index: 9001;
}
div#boardNavMobile select {
  font-size: 11px;
}
div#boardNavMobile option {
  font-size: 11px;
}
div.boardSelect {
  float: left;
}
div.boardSelect > strong {
  padding-right: 5px;
}
div.pageJump {
  float: right;
  padding-right: 5px;
  padding-top: 3px;
}
.pageJump a {
  text-decoration: none;
  padding-right: 5px;
}
div.qrWindow {
  position: absolute;
  z-index: 8000;
}
div.qrHeader {
  padding: 2px;
  font-size: small;
  text-align: center;
}
div.qrForm {
  padding: 3px;
}
span.qrButtonHolder {
  position: absolute;
  right: 5px;
  text-align: right;
  top: 3px;
}
span.qrButtonHolder a {
  text-decoration: none;
}
span.qrButtonHolder img {
  cursor: pointer;
  margin-bottom: -1px;
  margin-top: 1px;
}
.extButton img {
  margin-top: 3px;
  margin-bottom: -3px;
  margin-left: 4px;
}
.qrMessage {
  padding: 2px;
  text-align: center;
}
.op .backlinkHr {
  width: 55%;
}
img.expandedImg {
  max-width: none !important;
  max-height: none !important;
}
#captchaInfo {
  float: left;
  margin-left: 5px;
  visibility: hidden;
}
#captchaResponse {
  width: 292px;
}
.prettyprint {
  border: none !important;
  background-color: #fff;
  padding: 5px !important;
  display: inline-block;
  max-height: 400px;
  overflow-x: auto;
  max-width: 600px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.5);
}
span.tag {
  color: #5F89AC;
}
span.pun {
  color: #72814D;
}
span.com {
  color: #BB6793;
}
span.str {
  color: #8EA062;
}
span.kwd {
  color: #81a2be;
}
span.typ {
  color: #b294bb;
}
span.lit {
  color: #6E9B89;
}
span.pln {
  color: #c5c8c6;
}
.embed {
  position: absolute;
  width: 0px;
  height: 0px;
  overflow: hidden;
}
table.flashListing td.postblock {
  padding: 5px;
  text-align: center;
}
table.flashListing td {
  padding: 2px;
  font-size: 9pt;
}
table.flashListing td:not(.subject) {
  text-align: center;
}
table.flashListing .name {
  color: #C5C8C6;
  font-weight: bold;
}
table.flashListing .postertrip {
  color: #C5C8C6;
}
table.flashListing .subject {
  color: #B294BB;
  font-weight: bold;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
}
table.flashListing tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.1);
}
input[type="text"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.countryFlag {
  padding-top: 1px;
  margin-bottom: -1px;
}
.oldpost {
  color: #c5c8c6;
  font-weight: bold;
}
#enable-mobile {
  font-size: small !important;
}
#disable-mobile {
  font-size: small !important;
}
.mFileInfo {
  padding-top: 5px;
  text-align: center;
  color: #707070 !important;
  font-size: 9pt !important;
  text-decoration: none !important;
}
.name-col {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
}
.file-col {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
}
.ad-plea {
  margin-top: 2px;
  text-align: center;
  font-size: smaller;
}
.ad-plea a {
  text-decoration: none;
}
.fileText a {
  text-decoration: underline;
}
#search-box {
  height: 16px;
  line-height: 16px;
  margin-left: 2px;
  padding: 0 2px;
  width: 120px;
}
#blotter {
  width: 468px;
  margin: auto;
}
#blotter td {
  vertical-align: top;
  font-size: 11px;
}
#blotter tfoot {
  text-align: right;
}
.blotter-date {
  width: 50px;
  text-align: center;
}
.redtxt {
  color: red;
}
#blotter-msgs s {
  background-color: inherit !important;
  color: inherit !important;
  text-decoration: line-through;
}
#postForm {
  width: 468px;
  display: none;
}
#postForm textarea {
  width: 292px;
}
#togglePostFormLink {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.fileWebm:hover:before {
  background-color: rgba(0, 0, 0, 0.75);
  color: #FFF;
  font-weight: bold;
  line-height: 18px;
  padding: 0 3px 0 2px;
  position: absolute;
  content: 'webm';
  display: block;
  font-size: 11px;
  text-decoration: none;
}
.expandedWebm {
  margin: 3px 20px 5px;
}
#tooltip {
  position: absolute;
  background-color: #000;
  font-size: 11px;
  line-height: 13px;
  padding: 3px 6px;
  z-index: 100000;
  word-wrap: break-word;
  white-space: pre-line;
  max-width: 400px;
  color: #fff;
  text-align: center;
}
.tip-top-left:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #181f24;
  margin-left: -4px;
  bottom: -4px;
  right: 2px;
}
.tip-top-right:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #181f24;
  margin-left: -4px;
  bottom: -4px;
  left: 2px;
  margin-left: 0;
}
.tip-top:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #181f24;
  margin-left: -4px;
  bottom: -4px;
  left: 50%;
}
#postFile {
  margin-right: 10px;
  width: 200px;
}
.dd-menu {
  position: absolute;
  font-size: 12px;
  line-height: 1.3em;
}
.dd-menu a {
  text-decoration: none;
  color: inherit !important;
  display: block;
}
.dd-menu ul {
  background-color: #282A2E;
  border: 1px solid #000;
  border-bottom: none;
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}
.dd-menu ul ul {
  display: none;
  position: absolute;
}
.dd-menu li {
  cursor: pointer;
  position: relative;
  padding: 2px 4px;
  vertical-align: middle;
  border-bottom: 1px solid #000;
}
.dd-menu li:hover {
  background-color: #1D1F21;
}
.dd-menu li:hover ul {
  display: block;
  left: 100%;
  margin-top: -3px;
}
.dd-menu.dd-menu-left li:hover ul {
  left: auto;
  right: 100%;
}
.blink {
  -webkit-animation: blink 1.5s step-end infinite;
  -moz-animation: blink 1.5s step-end infinite;
  -o-animation: blink 1.5s step-end infinite;
  animation: blink 1.5s step-end infinite;
}
@media only screen and (max-width: 700px) {
  .jla-it {
    width: 340px;
    height: 220px;
    margin: auto;
  }
  .jla-it img {
    width: 340px;
    height: 200px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  tbody textarea {
    margin-bottom: -3px !important;
    width: 292px;
  }
}
