* {
  font-family: arial, helvetica, sans-serif !important;
}
html {
  background: #3f3f3f !important;
  color: #dcdccc !important;
}
body {
  background: #3f3f3f !important;
  color: #dcdccc !important;
}
body * {
  font-size: 10pt !important;
}
a {
  text-decoration: none !important;
  color: #f0dfaf !important;
}
a:hover {
  text-decoration: underline !important;
}
.reflink a:hover {
  color: #3f3f3f !important;
  font-weight: normal !important;
}
.adminbar {
  text-align: right;
  clear: both;
  float: right;
}
.logo {
  clear: both;
  font-weight: bold !important;
  text-align: center;
  font-size: 2em !important;
  color: #dca3a3 !important;
  width: 100%;
}
.replymode {
  background: #705050 !important;
  text-align: center;
  padding: 2px;
  color: #dcdccc !important;
  width: 100%;
}
.catalogmode {
  background: #705050 !important;
  text-align: center;
  padding: 2px;
  color: #dcdccc !important;
  width: 100%;
}
.rules {
  width: 468px;
  font-size: 10px;
  font-family: sans-serif;
}
.rules li {
  margin-left: 1em;
}
.postblock {
  background: #333 !important;
  color: #dcdccc !important;
  font-weight: 800;
}
.footer {
  text-align: center;
  font-size: 12px;
  font-family: serif;
}
.passvalid {
  background: #3f3f3f !important;
  text-align: center;
  width: 100%;
  color: #ffffff;
}
.dellist {
  font-weight: bold;
  text-align: center;
}
.delbuttons {
  text-align: center;
  padding-bottom: 4px;
}
.managehead {
  background: #AAAA66;
  color: #400000;
  padding: 0px;
}
.postlists {
  background: #FFFFFF;
  width: 100%;
  padding: 0px;
  color: #800000;
}
.row1 {
  background: #EEEECC;
  color: #800000;
}
.row2 {
  background: #DDDDAA;
  color: #800000;
}
.unkfunc {
  background: inherit;
  color: #60b48a !important;
}
.filesize {
  text-decoration: none !important;
}
.filetitle {
  background: inherit;
  font-size: 1.2em;
  color: #8cd9d3 !important;
  font-weight: 800;
}
.postername {
  color: #dfaf8f !important;
  font-weight: bold;
}
.postertrip {
  color: #806060 !important;
}
.oldpost {
  color: #dca3a3 !important;
  font-weight: 800;
}
.omittedposts {
  color: #708090 !important;
}
.reply {
  background: #333 !important;
  color: #dcdccc !important;
}
.replyhl {
  background: #333 !important;
  color: #dcdccc !important;
}
.doubledash {
  vertical-align: top;
  clear: both;
  float: left;
}
.replytitle {
  font-size: 1.2em;
  color: #8cd9d3 !important;
  font-weight: 800;
}
.commentpostername {
  color: #dfaf8f !important;
  font-weight: 800;
}
.thumbnailmsg {
  font-size: small;
  color: #708090 !important;
}
.pages {
  background: #3f3f3f !important;
  color: #dcdccc !important;
}
.abbrev {
  color: #708090 !important;
}
.abbr {
  color: #708090 !important;
}
.highlight {
  background: #222 !important;
  color: #dcdccc !important;
  border: 1px dashed #806060 !important;
}
#watchedthreads {
  background-color: #333 !important;
  border: 1px dashed #806060 !important;
}
.reflinkpreview {
  background-color: #3f3f3f !important;
  border: 1px dashed #806060 !important;
}
.spoiler {
  color: #222 !important;
  background-color: #222 !important;
}
.spoiler:hover {
  color: #dcdccc !important;
}
input[type="submit"] {
  background-color: #6f6f6f !important;
  color: #222 !important;
  border: 1px outset !important;
  border-color: #dca3a3 !important;
}
select {
  background-color: #6f6f6f !important;
  color: #222 !important;
  border: 1px outset !important;
  border-color: #dca3a3 !important;
}
input[type="checkbox"] {
  background-color: #6f6f6f !important;
  color: #222 !important;
  border: 1px outset !important;
  border-color: #dca3a3 !important;
}
textarea {
  color: #222 !important;
  background-color: #6f6f6f !important;
  border: 1px inset !important;
  border-color: #dca3a3 !important;
}
input[type="password"] {
  color: #222 !important;
  background-color: #6f6f6f !important;
  border: 1px inset !important;
  border-color: #dca3a3 !important;
}
input[type="text"] {
  color: #222 !important;
  background-color: #6f6f6f !important;
  border: 1px inset !important;
  border-color: #dca3a3 !important;
}
input[type="file"] {
  color: #222 !important;
  background-color: #6f6f6f !important;
  border: 1px inset !important;
  border-color: #dca3a3 !important;
}
td {
  border: 0px !important;
}
h2 {
  margin-top: 0px;
  font-size: 100%;
  color: #dfaf8f !important;
  background: #333 !important;
  padding: 1px 5px 1px 5px !important;
}
h2 a {
  text-decoration: none;
}
h1 {
  font-family: Verdana, Tahoma, sans-serif;
  margin: 0;
  text-align: center;
  color: #dca3a3 !important;
  background: #333 !important;
  margin-top: 1em;
  font-size: 16pt !important;
}
h3 {
  font-family: Verdana, Tahoma, sans-serif;
  margin: 0px;
  color: #f0dfaf !important;
  text-align: center;
  font-weight: normal;
  font-size: medium;
}
.menu {
  font-family: Verdana, Tahoma, sans-serif;
  margin-top: 1em;
  text-align: center;
}
.plus {
  border-color: #dfaf8f !important;
  padding: 0px 2px 0px 2px !important;
  float: right;
  font-size: 8px;
  font-weight: normal;
  padding: 0px 4px 0px 4px !important;
  margin: 0px 0px;
  background: #333 !important;
  color: #dfaf8f !important;
  border: 1px solid #dfaf8f !important;
  cursor: pointer;
}
.plus:hover {
  background: #da8;
  border: 1px solid #c97;
}
#topmenu li {
  display: block;
  float: left;
  border: 1px solid #888 !important;
  padding-top: 3px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-left: none;
  margin-top: -7px;
  background-color: #333 !important;
}
#topmenu li.first {
  margin-left: 45px;
  border-left: 1px solid #888;
}
#topmenu li.current {
  margin-top: -8px;
  padding-top: 5px;
  border-bottom: none !important;
  background-color: #333 !important;
}
ul {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}
li {
  margin: 0px;
}
li a {
  display: block;
  width: 100%;
}
.content {
  margin-left: 3em;
  text-align: justify;
  padding-left: 4px;
}
.newssub {
  position: absolute;
}
.permalink {
  text-align: right;
  display: block;
}
.permalink a {
  color: blue;
  text-decoration: none;
}
.admin {
  color: #cf9ebe !important;
}
