@model MessageModel

@{
    ViewData["Title"] = "Threads";
}

<div class="row">

    <img class="center-block" src="~/images/futa300.png" alt="Futaba .NET"> 

</div>

<hr />

<div class="row">
    <h3>Create a thread</h3>

    @if (ViewData["InfoMessage"] != null) {
    <div class='alert alert-info' role='alert'>
        @ViewData["InfoMessage"]
    </div>
    }
</div>

@using (Html.BeginForm("Index", "Board", FormMethod.Post, new { enctype = "multipart/form-data", @class="well form-horizontal form-background" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary();
    <div class="form-group">
        @Html.LabelFor(m => m.msgContent, new {@class="col-sm-2 control-label"})
        <div class="col-sm-10">
            @Html.TextAreaFor(m => m.msgContent, new {@class="form-control", size = "30", placeholder="Message"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-md-10">
            <input id="imageFile" type="file" name="imageFile" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" value="Submit" class="btn btn-default">Create a Thread</button>
        </div>
    </div>
}

<div class="row">
    <h3>Thread Catalog</h3>
    <div class="grid">
        @foreach (var threads in ViewData["ThreadList"] as List<ThreadModel>) {
            <div class="grid-item well">
                <table class="catalog-table">
                    <!-- <tr class="catalog-row">
                        <td class="catalog-image"><img class="img-circle" src="~/images/newLewdThreadIcon.png" alt="Thread" /></td>
                    </tr> -->
                    <tr class="catalog-row">
                        <td class="catalog-item">@threads.threadId</td>
                    </tr>
                    <tr class="catalog-row">
                        <td class="catalog-item">@Html.ActionLink(threads.threadGuid.ToString(), "Index", "Thread", new { guid = threads.threadGuid} )</td>
                    </tr>
                    <tr class="catalog-row">
                        <td class="catalog-item">@threads.creationDate</td>
                    </tr>
                </table>
            </div>
            }
    </div>
</div>
