@model MessageModel

@{
    ViewData["Title"] = "Threads";
    ViewBag.Pages = 23;
    String noname = "Anonymous";
    String noemail = "";
    String nosubject = "";
    String imageUrlDir = "images/threads";
}

<div class="row">
    <img class="center-block" src="~/images/futa300.png" alt="Futaba .NET"> 
</div>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-xs-6 col-sm-5 col-lg-4">
                <div class="input-group input-group-sm">
                <input type="text" class="form-control" placeholder="Search OPs...">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-sm" type="button">Search</button>
                </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-3 -->
            <div class="btn-group" role="group" aria-label="...">
                <a class="btn btn-default btn-sm" href="@Url.Action("Catalog", "Board")">Catalog</a>
                <button type="button" class="btn btn-default btn-sm">Archive</button>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    @if (ViewData["InfoMessage"] != null) {
    <div class='alert alert-info' role='alert'>
        @ViewData["InfoMessage"]
    </div>
    }
</div>

@using (Html.BeginForm("Index", "Board", FormMethod.Post, new { enctype = "multipart/form-data", @class="centerprint well form-horizontal form-background" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary();
    <div class="form-group form-group-sm">
        @Html.LabelFor(p => p.name, new {@class="col-sm-2 control-label"})
        <div class="col-sm-10">
        @Html.TextBoxFor(p => p.name, new {@class="form-control", size = "30", placeholder="Anonymous"})
        </div>
    </div>
    <div class="form-group form-group-sm">
        @Html.LabelFor(p => p.email, new {@class="col-sm-2 control-label"})
        <div class="col-sm-10">
        @Html.TextBoxFor(p => p.email, new {@class="form-control", size = "30", placeholder="Email Address"})
        </div>
    </div>
    <div class="form-group form-group-sm">
        @Html.LabelFor(p => p.subject, new {@class="col-sm-2 control-label"})
        <div class="col-sm-10">
        @Html.TextBoxFor(p => p.subject, new {@class="form-control", size = "35", placeholder="Subject"})
        </div>
    </div>
    <div class="form-group form-group-sm">
        @Html.LabelFor(m => m.msgContent, new {@class="col-sm-2 control-label"})
        <div class="col-sm-10">
            @Html.TextAreaFor(m => m.msgContent, new {@class="form-control", size = "30", placeholder="Message"})
        </div>
    </div>
    <div class="form-group form-group-sm">
        <div class="col-sm-offset-2 col-md-10">
            <input id="imageFile" type="file" name="imageFile" />
        </div>
    </div>
    <div class="form-group form-group-sm">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" value="Submit" class="btn btn-primary btn-sm">Create a Thread</button>
        </div>
    </div>
}

@*
<div class="row">
    <h3>Threads</h3>
    <table class="table table-striped">
        <!-- <tr>
            <th>#</th>
            <th>Thread</th>
            <th>Date</th>
        </tr> -->
        @foreach (var threads in ViewData["ThreadList"] as List<ThreadModel>) {
            <tr>
                <td class="thread">
                    <div class="infobar"><span class="title">No Title</span><span class="name">Anonymous</span><span class="date">@threads.creationDate</span><span class="id"><a href="">No.</a><a href="">@threads.threadId</a></span><span class="actions"><a class="btn btn-danger btn-xs" href="">Delete</a></span></div>
                    <div class="image"><img src="images/threads/@threads.threadGuid.ToString()/0.jpg" width="" height="128" /></div>
                    <div class="message">This thread has a GUID of: @Html.ActionLink(threads.threadGuid.ToString(), "Index", "Thread", new { guid = threads.threadGuid} )<br /></div>
                </td>
            </tr>
        }
    </table>
</div>
*@

<hr />

<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    
    @for (int i = 1; i <= ViewBag.MaxPages ; i++) {
        <li><a href="@Url.Action("Index", "Board", new { pageNum = 0, threadNum = 5})">@i</a></li>
    }

    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<div class="row">
        @foreach (var threads in ViewData["ShowThreadsList"] as List<ShowThreadsModel>) {
            <div class="thread">
                @for(var i = 0; i < threads.messages.Count; i++) {
                    @if(i == 0) {
                        @Html.Raw("<div class=\"postContent\">")
                    } else {
                        @Html.Raw("<div class=\"postContent reply\">")
                    }
                        
                    <div class="information">
                        <span class="title">
                            @if(threads.messages[i].subject != null) {
                                @threads.messages[i].subject
                            } else {
                                @nosubject
                            }
                        </span>

                        <span class="name">                            
                            @if(threads.messages[i].name != null) {
                                @if(threads.messages[i].email != null) {
                                    <a href="mailto:@threads.messages[i].email">@threads.messages[i].name</a>
                                } else {
                                    @threads.messages[i].name
                                }
                            } else {
                                @if(threads.messages[i].email != null) {
                                    <a href="mailto:@threads.messages[i].email">@noname</a>
                                } else {
                                    @noname
                                }                            
                            }
                        </span>

                        <span class="date">@threads.messages[i].postDate</span>                                
                        @if(i == 0) {
                            <span class="id">@Html.ActionLink("Guid: " + threads.threadGuid.ToString(), "Index", "Thread", new { guid = threads.threadGuid } )</span>
                        } else {
                            <span class="id"><a href="">No.</a><a href="">@threads.messages[i].msgId</a></span>
                        }
                        <span class="actions">
                            <a class="btn btn-default btn-xs" href="">Reply</a>&nbsp;
                            <a class="btn btn-danger btn-xs" href="">Delete</a>
                        </span>
                    </div>

                    @if(threads.messages[i].imgFile != null) {

                        @if(i == 0) {
                            <a href="@imageUrlDir/@threads.threadGuid.ToString()/@threads.messages[i].imgFile">
                                <div class="image"><img src="@imageUrlDir/@threads.threadGuid.ToString()/thumbnails/@threads.messages[i].imgFile" width="" height="256" /></div>
                            </a>
                        } else {
                            <a href="@imageUrlDir/@threads.threadGuid.ToString()/@threads.messages[i].imgFile">
                                <div class="image"><img src="@imageUrlDir/@threads.threadGuid.ToString()/thumbnails/@threads.messages[i].imgFile" width="" height="128" /></div>
                            </a>
                        }
                    }
                    <blockquote class="postMessage">
                        @threads.messages[i].msgContent
                    </blockquote>
                        
                    @Html.Raw("</div>")
                }
            </div>
            @Html.Raw("<div style=\"clear:both;\">This thread has " + threads.numberOfMessages + " messages.</div>")
    <hr style="" />
    }
</div>





@*
@foreach (var msg in threads.messages as List<MessageModel>) {
    <tr class="thread">
        <td>
            <div class="infobar"><span class="title">No Title</span><span class="name">Anonymous</span><span class="date">@msg.postDate</span><span class="id"><a href="">No.</a><a href="">@msg.msgId</a></span><span class="actions"><a class="btn btn-default btn-xs" href="">Reply</a>&nbsp;<a class="btn btn-danger btn-xs" href="">Delete</a></span></div>
            <div class="image"><img src="@msg.imgFile" width="" height="128" /></div>
            <div class="message">@msg.msgContent<br />
                @Html.ActionLink(threads.threadGuid.ToString(), "Index", "Thread", new { guid = threads.threadGuid } )
            </div>
        </td>
    </tr>
}
*@